body {
  font-size: 16px;
  background-color: #eee;
}

#text-container, #ig-note {
  background-color: #f8f8f8;
}

h2 {
  text-align: center;
}

#intro,
#settings {
  font-family: "Lato", sans-serif;
}

#text-container,
#ig-note {
  font-family: "Libre Baskerville", serif;
  line-height: 1.4;
}

#main-container {
  display: flex;
  flex-direction: column;
  text-align: justify;
  max-width: 100em;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.row > * {
  flex: 1;
}

.row #text-container,
.row #intro {
  flex: 3;
}

@media only screen and (max-width: 1400px) {
  .row .filler {
    display: none;
  }
}

#small-screen-container {
  display: none;
}

@media screen and (max-width: 768px) {
  #small-screen-container {
    display: block;
    text-align: center;
    padding: 1em;
    border: solid 1px red;
  }
}

#intro,
#text-container {
  font-size: 1.2em;
  max-width: 45rem;
}

#text-container {
  padding: 1em;
}

#intro,
#settings,
#ig-note {
  font-size: 1em;
}

#ig-note img {
  max-width: 100%;
}

#text-container p span[data-ig-kind="dict"].tmp-ig-hide {
  background-color: transparent;
  transition: background-color 3s;
}

#text-container p span[data-ig-kind="comment"].tmp-ig-hide {
  background-color: transparent;
  transition: background-color 3s;
}

#text-container p span[data-ig-kind="reference"].tmp-ig-hide {
  background-color: transparent;
  transition: background-color 3s;
}

#text-container p span[data-ig-kind="dict"].tmp-ig-show {
  background-color: #ffff0075;
}

#text-container p span[data-ig-kind="comment"].tmp-ig-show {
  background-color: #00ffff75;
}

#text-container p span[data-ig-kind="reference"].tmp-ig-show {
  background-color: #c070e075;
}

#text-container span[data-ig-kind="dict"].ig-show {
  background-color: #ffff0075;
}

#text-container span[data-ig-kind="comment"].ig-show {
  background-color: #00ffff75;
}

#text-container span[data-ig-kind="reference"].ig-show {
  background-color: #c070e075;
}

#settings,
#notes-container {
  padding-left: 2em;
}

#ig-note {
  position: absolute;
  top: 0;
  max-width: 15em;
  padding: 0.5em;
  margin-right: 2em;
  border: solid 1px black;
}

#ig-note.hidden {
  display: none;
}

#feedback {
  padding-top: 5em;
  padding-bottom: 2.5em;
  text-align: center;
  font-size: small;
}
